.item {
    display: flex;
    margin-top: 10px;
    background: aqua;
}

.button {
    margin-left: auto;
    background: red;
    border: none;
}

.done {
    text-decoration: line-through;
}
